
table td, table th {
  font-size: 75%;
}

ul, ol {
  font-size: 80%;
}

ul li::marker {
  font-size: 80%;
  line-height: 1;
}

strong {
  /* color:#B86B2B; */
  color: teal;
}

/* Reveal.js/Quarto figure captions */
.reveal .slide img.r-stretch + p.caption {
  font-size: 50%;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ Use case slides --------------------------- */
/* -------------------------------------------------------------------------- */

/* If a slide has a background image, make text light */
.reveal .slides section.use-case-slide {
  color: #f5f5f5 !important;
  text-shadow: 0 2px 12px rgba(0,0,0,0.6); /* Optional*/

}

/* Headings and paragraphs */
.reveal .slides section.use-case-slide  h1,
.reveal .slides section.use-case-slide  h2,
.reveal .slides section.use-case-slide  h3,
.reveal .slides section.use-case-slide  p{
  color: #f5f5f5 !important;
}

/* Any links */
.reveal .slides section.use-case-slide  a{
  color: #ffd9a8 !important; /* “bone”/warm light color */
}

.reveal .slides section.use-case-slide  h1,
.reveal .slides section.use-case-slide  h2,
.reveal .slides section.use-case-slide  h3,
.reveal .slides section.use-case-slide  p{
  text-shadow: 0 2px 12px rgba(0,0,0,0.6);
}

/* -------------------------------------------------------------------------- */